.navbar-modify{
    background-color: #f1f1f0;
    padding: 20px;

}

body{
   
    font-family: "Agdasima", sans-serif;
}

h2{
    color: grey;
    margin-right: 40;
}



.header{
    background-color: #f1f1f0
}